#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdd
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp3s0f0 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp3s0f1 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$PQZeKmo8DifQNRvN$jaccSsnvsQQx5BdLdpLEaDppn9TLk6JP7Y3rK49L8Icp5JQVXrXv1eawCeiIgemTneUNXPxuxpT/hjxD0HHfr.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdd
# Partition clearing information
clearpart --all --initlabel --drives=sdd
# Disk partitioning information
part pv.323 --fstype="lvmpv" --ondisk=sdd --size=243173
part /boot --fstype="xfs" --ondisk=sdd --size=1024
volgroup centos --pesize=4096 pv.323
logvol /var  --fstype="xfs" --size=124832 --name=var --vgname=centos
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos
logvol /home  --fstype="xfs" --size=51200 --name=home --vgname=centos
logvol swap  --fstype="swap" --size=15936 --name=swap --vgname=centos

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
